<!doctype html>
<html ng-app manifest="dac.appcache">
  <head>
    <title>DAC</title>
    <link rel="apple-touch-icon" href="star_fleet.png" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="mobile-web-app-capable" content="yes">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <script src="jquery-1.11.0.min.js"></script>

    <script src="angular.min.js"></script>
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="bootstrap.min.js"></script>

    <script src="bootbox.min.js"></script>

    <!-- My code -->
    <script src="dac.js"></script>

    <link rel="stylesheet" href="dac.css">
  </head>
  <body>

<!--
    <div ng-controller="DacCtrl">
      <div class="navbar navbar-default navbar-fixed-top text-center">
        <div class="navbar-inner">
          <div class="container">
            <form ng-submit="volley()">
              <input style="margin:10px;" type="tel" ng-model="hitInput"  size="20"
                     placeholder="Number of internals">
              <input class="btn btn-primary" type="submit" value="fire!">
            </form>
          </div> 
        </div> 
      </div>
-->
    <div ng-controller="DacCtrl">
      <div class="navbar navbar-default navbar-fixed-top text-center">
        <div class="navbar-inner">
          <div style="margin:15px;" class="container">
            <form ng-submit="volley()">
              <div class="col-lg-6">
     
                <div class="input-group">
                  <input type="tel" class="form-control" ng-model="hitInput">
                  <span class="input-group-btn">
                    <input class="btn btn-primary" style="padding-left:20px; padding-right:20px;" type="submit" value="fire!"></button>
                  </span>
                </div><!-- /input-group -->
              </div><!-- /.col-lg-6 -->
            </form>
          </div> <!-- /container -->
        </div><!-- /navbar-inner -->
      </div><!-- /navbar -->
  
      <!-- ng-if only displays this page until $scope.splash = true (this is set to false when the user clicks fire!) -->
      <span ng-if="splash">
        <div style="margin:25px;" class="jumbotron">
          <h2>Aye, Captain!</h2>
            <p style="font-size:16px;">This is your Digital Damage Allocation Allocation Chart (DDAC). It is a complete replacement for SFB Chart D4.21 and behaves <i>100% identically</i> to it's paper counterpart, including appropriate bell curve for results.</p>
            <p style="font-size:16px;">It supports <strong>all</strong> features found in D4.21 including (D4.31) BOLD-FACE RESULTS. Bold results are automatically limited to one entry per volley on each row of the table.</p>
            <p style="font-size:16px;">Simply enter the total number of internal hits in the box above and click "fire!"</p>
	    <p style="font-size:16px;">Click on each damage slot as you mark them off on your SSD to cross them off of the list.</p>
            <p style="font-size:16px;">Destroyed systems can be skipped by clicking on the <font size="4" color="red">&#x2716;</font> icon for a given result. All remaining hits to that type of system will be removed from the list.</p>
        </div><!-- /jumbotron -->
      </span>
      
      <ul class="list-group">
        <li style="font-size:20px;" class="clearfix" ng-repeat="hit in hits">
          
          <span style="background-color:{{hit.color}}" class="list-group-item text-left">
              <p style="display:inline; padding-right:20%;" ng-class="{'cleared': !checkit, 'marked': checkit}" ng-click="checkit = !checkit">{{hit.d1}}{{hit.d2}} {{hit.text}}</p>
              <a href="" ng-click="confirmDestroy(hit, $index)" class="text-right" style="display:block; float:right;" ng-if="hit.text != 'Excess Damage'">
                  <span><font color="red">&#x2716;</font></span>
              </a>
          </span>
          
        </li>
      </ul>
      
    </div><!-- /DacCtrl -->
  </body>
</html>
